h1 {
	color: dark blue;
	text-decoration: underline;
	font-weight:bolder;
}

p {
	color:light blue;
}

.beginning {
	text-align: left;
	color: dark green;
	text-decoration: underline;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}

a {
	color: dark orange;
	font-size: 20px;
}