
body {
	padding-left: 50px;
	background-color: #FFCC66;
	text-align: center;
}
}

ul {
	list-style-type:none;
}

li {display:inline-block;
	padding-right: 10px;
	color:dark blue;
	background-color: #CCFFFF;
	font-size: 16px;
	font-weight:bold;
	margin-bottom: 30px;
}

h1 {
	color: dark blue;
	text-decoration: underline;
	font-weight:bolder;
}

p {
	color:light blue;
}

.beginning {
	text-align: left;
	color: dark green;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}

a {
	color: dark orange;
	font-size: 20px;
	text-decoration: none;
}