body {
	padding-left: 50px;
}

ul {list-style-type:none;
}

li {display:inline-block;
	color:red;
	background-color: yellow;
	font-weight:bold;
}

h1 {
	font-size: 25px;
	color: purple;
	text-decoration: underline;
	border: 5px dotted;
	width:320px;
	text-align: center;
}

p.first {
	border-top: 2px dashed;
	border-bottom: 4px dotted;
	border-right: 2px solid blue;
	border-left: 2 px solid green;
	font-size: 29px;
	color: blue;
}

p.second {
	font-size:26px;
	color: green;
	font-weight: bold;
}

p.third {
	font-size: 32px;
	color: orange;
	font-style: italic;
}

a {
	text-decoration: none;
	color: purple;
}

a:hover {
	text-decoration: none;
	color: green;
}