body {
	padding-left: 50px;
	background-color: #FFCC66;
	text-align: center;
}

ul {list-style-type:none;
}

li {display:inline-block;
	padding-right: 10px;
	color:dark blue;
	background-color: #CCFFFF;
	font-weight:bold;
	margin-bottom: 30px;
}

h1 {
	font-size: 30px;
	color: black;
	border: 5px dotted;
	margin-bottom: 30px;
	margin-left: 450px;
	width:320px;
	padding:4px 4px;
}

p {
	color:#14141F;
}

p.first {
	border-top: 2px dashed;
	border-bottom: 4px dotted;
	border-right: 2px solid blue;
	border-left: 2px solid green;
	margin-left:450px;
	font-size: 20px;
	padding:4px 4px;
	font-style: italic;
}

p.second {
	font-size:24px;
	font-style: italic;
}

p.third {
	font-size: 26px;
	font-style: italic;
}

a {
	text-decoration: none;
	color: purple;
}

a:hover {
	text-decoration: none;
	color: green;
}